<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Gradient Generator
  </h1>
  <div id="grad1"></div>
</div>
<div class="disp-flex">
  <div class="flx-child">
    <div class="menu">
      <!--
      <mat-tab-group>
          <mat-tab label="First">
          -->
      <h2>Settings</h2>

      <div class="grid-container">
        <label>Color #1</label>
        <!--
        <input type="color" value="#ff0000" [(ngModel)]="color1" opacity="1">
      -->
        <div>
          <div class="picker" [(colorPicker)]="color1" [style.backgroundColor]="color1"></div>
        </div>

        <label>Color #2</label>
        <!--
        <input type="color" value="blue" [(ngModel)]="color2" value="#f6b73c">
    -->
        <div>
          <div class="picker" [(colorPicker)]="color2" [style.backgroundColor]="color2"></div>
        </div>

        <label>Title</label>
        <input type="text" [(ngModel)]="title">

        <label>Icon</label>
        <!--
          <input type="file" (change)="readUrl($event);sendUrl();" >
      -->
        <div style="margin-bottom: 20px;">
          <img class="icon" [src]="icons[0]" (click)="setIcon(icons[0])" />
          <img class="icon" [src]="icons[1]" (click)="setIcon(icons[1])" />
          <img class="icon" [src]="icons[2]" (click)="setIcon(icons[2])" />
          <img class="icon" [src]="icons[3]" (click)="setIcon(icons[3])" />
          <img class="icon" [src]="icons[4]" (click)="setIcon(icons[4])" />
        </div>
        <label>Body</label>
        <textarea [(ngModel)]="body" (input)="sendBody()"></textarea>
        <br />

      </div>
      <!--
          </mat-tab>
          <mat-tab label="Second"> Content 2 </mat-tab>
      </mat-tab-group>
    -->
    </div>
  </div>

  <div class="flx-child-3 disp-flex-center">
    <div class="colored-div" [style.backgroundImage]="'linear-gradient(' + color1 + ', ' + color2 + ')'">
      <div>
        <p class="title disp-flex-center" cdkDrag>
          {{title}}
        </p>

        <div class="simple-disp-flex">
          <div class="disp-flex-center">
            <img [src]="iconSrc" class="dragged" cdkDrag/>
          </div>
          <p class="body disp-flex-center" cdkDrag>
            {{body}}
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>