$alert-height: 461px;
$title-height: 80px;
h1 {
  color: black;
  // background-image: linear-gradient(to top right, #00d9e0, yellow);
  height: 40px;
  padding: 10px;
}
#grad1 {
  height: 10px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.disp-flex {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
}
.simple-disp-flex {
  display: flex;
  // height: 243px;
  height: $alert-height - $title-height;
  p {
    flex: 3;
  }
  div {
    flex: 1;
  }
  img {
    height: 100px;
    width: 100px;
  }
}
.flx-child {
  flex: 1;
}
.flx-child-3 {
  flex: 2;
}
.disp-flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.colored-div {
  height: $alert-height;
 // width: 508px;
 // height: 341px;
  width: 820px;
  margin-right: 50px;
}

.title {
  //text-align: left;
  height: $title-height;
  font-size: 40px;
 // overflow-wrap: break-word;
 // max-width: 360px;
 overflow-wrap: break-word;
 overflow: hidden;
 max-width: 360px;
 min-width: 501px;
 min-height: 80px;
 max-height: 80px;
}
.body {
  display: inline;
  overflow-wrap: break-word;
  overflow: hidden;
 // border:1px solid black;
  max-width: 360px;
  min-width: 360px;
  min-height: 183px;
  max-height: 183px;
  font-size: 20px;
  padding-top:26px;
}
.menu {
    height: 577px;
    width: 356px;
  //height: 575px;
  //width: 544px;
 // border: 1px solid black;
  background-color: rgb(240, 239, 239);
//  background-color: #006E8E;
  //  border-radius: 50px;
  
}
h2 {
  width: 377px;
  //  border-radius: 50px;
  overflow: hidden;
  margin-left: 30px;
  padding:5px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 35px;
}

input,
textarea {
  border: 1px solid grey;
 // text-align: left;
}
label{
  text-align: left;
 // color:white;
}
textarea{
  width:100%;
 // text-align: left;
}

input[type="text"],
input[type="color"],
input[type="file"] {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
label {
  margin-top: 30px;
 // margin-bottom: 30px;
  margin-right: 30px;
  text-align: left;
}
.colored {
  height: 100px;
  width: 100px;
  background-color: brown;
  transition: background-image 2s;

}
.icon{
  height:40px;
  width:40px;
  padding: 5px;
  transition: transform .2s;
}
.icon:hover{
  transform: scale(1.2); 
}
textarea {
    width: 100%;
    height: 100%;
}
/*
label {
    margin-top: 5px;
    margin-bottom: 5px;
}
*/
